. {
    position:absolute;
    flex:0 0;
}
input[type=file] {
    display:none;
    height:30vw;
}
.drop-box {
    position:relative;
    display:flex;
    align-items: center;
    text-align:center;
    border:1px solid var(--text-color);
    border-radius:3px;
    cursor:pointer;
    height:26px;
    width:26px;
    background-color:var(--bg-color);
    transition:all 100ms;
}
.drop-box IMG {
    width:100%;
    height:100%;
    object-fit: cover;
}
.drop-box .icon {
    flex:1 1;
    font-size:0.9em;
    opacity:.5;
}
.drop-box .file-profile {
    flex:1 1;
    margin:var(--spacer);
    font-size:0.8em;
    overflow:hidden;
}
.file-name {
    font-weight:bold;
}
.drop-box:hover {
    z-index:100;
    height:200px;
    width:200px;
}
.file-loader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.file-loader:before {
    display: block;
    content: "";
    width: 70%;
    height: 70%;
    border: 3px solid transparent;
    border-bottom-color: var(--action-color-hilite);
    /* border-left-color: var(--action-color-hilite); */
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    -webkit-animation: file-loader-rotation 1s linear infinite;
    animation: file-loader-rotation 1s linear infinite;
}
@-webkit-keyframes file-loader-rotation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes file-loader-rotation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}