. {
    display:flex;
    flex:1 1;
    height:100%;
    flex-direction: column;
}
.drop-box {
    position: relative;
    flex:.5 0;
    border:1px solid var(--page-border);
    margin:var(--spacer);
    overflow-y:scroll;
}
.drop-box img {
    cursor:pointer;
    width:8%;
}
.drop-box .ToolTip {
    position:absolute;
    left:var(--spacer);
    right:var(--spacer);
    bottom:0;
    text-align:center;
    transition: opacity 1s ease;
    opacity: 1;
}
.drop-box .ToolTip.hidden {
    z-index:-1000;
    opacity: 0;
}
.drop-box img.fixed {
    margin:var(--spacerhalf);
    transition: all 500ms ease;
}
.pending-upload {
    height:60px;
    width:60px;
    object-fit: cover;
}
.upload-container {
    position:relative;
    display: inline-flex;
    background-color:var(--action-color);
    height:60px;
    width:60px;
    margin:var(--spacerhalf);
}
.upload-container img {
    position:absolute;
    height:60px;
    width:60px;
}
.item-properties {
    display:flex;
    flex:.5 0;
    margin:var(--spacer);
    position:relative;
}
.item-controls {
    display:flex;
    flex-direction: row;
}
.properties-image-container {
    flex:1;
    position:relative;
    cursor:pointer;
}
.properties-image-container img {
    position:absolute;
    top:0;
    left:0;
    width:100%;
}
.properties-details-container {
    flex:0;
    margin-left:var(--spacer);
}
.properties-details-container h2 {
    margin-top:0;
}
