. {
    display:flex;
    flex:1 1;
    height:100%;
    flex-direction: column;
}
.drop-box {
    flex:.5 0;
    border:1px solid black;
    margin:var(--spacer);
    overflow:hidden;
    min-height:140px
}
.drop-box img {
    cursor:pointer;
}
.drop-box img.fixed {
    margin:var(--spacerhalf);
}
.pending-upload {
    height:60px;
    width:60px;
    object-fit: cover;
}
.upload-container {
    position:relative;
    display: inline-flex;
    background-color:var(--pending-color);
    height:60px;
    width:60px;
    margin:var(--spacerhalf);
}
.upload-container img {
    position:absolute;
    height:60px;
    width:60px;
}
.item-properties {
    display:flex;
    flex:.5 0;
    margin:var(--spacer);
    position:relative;
}
.properties-image-container {
    flex:1;
    position:relative;
}
.properties-image-container img {
    /*position:absolute;*/
    /*top:0;*/
    /*left:0;*/
    width:100%;
}
.properties-details-container {
    display:flex;
    flex-direction: column;
    flex:0;
    margin-left:var(--spacerhalf);
}
.properties-details-container #image-id {
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity:0.8;
    font-size:0.8em;
    margin-top:0;
    margin-bottom:var(--spacerhalf);
}
.properties-details-container #image-description {
    resize:none;
}
.InputInlineTable {
    font-size:0.8em;
}
.InputInlineTable .Button {
    font-size:0.8em;
    margin:0;
    padding:0;
}
.InputInlineTable .Button BUTTON {
    height:26px;
}
@media only screen and (max-width: 600px) {
    .item-properties {
        flex-direction: column;
    }
    .properties-details-container {
        margin-left:0 !important;
    }
    .InputInlineTable {
        background-color:green;
        display:none !important;
    }
}
